@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
header{
    transition: background-color 0.3s ease;
    height: 120px;
}
.header-scrolled{
    background-color: #FFFFFF;
    height: 120px;
}
.local {
    color: white;
    background-color: #B11B26;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.left img{
    width: 136px;
    height: 32px;
}
.center-mobile img{
    width: 136px;
    height: 32px;
}
.linkLocal{
    text-decoration: underline;
    background-color: #B11B26;
    color: white;
    margin: 0;
}
.linkLocal:hover{
    color: rgb(224, 214, 214)
}


@media (max-width: 1008px) {
    .local{
        box-sizing: border-box;
    }
    header{
        height: 100px;
    }
    .header-scrolled{
        height: 100px;
    }
    .icone-carriho-quantidade{
        gap: 10px;
    }
}
#cabecalho {
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 24px;
    padding-left: 80px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    position: relative;
}
#cabecalho .left { 
    display: flex; /* Alinha logo e o primeiro nav lado a lado */
    gap: 20px; /* Espaço entre logo e nav */
  }

#cabecalho img {
    margin-right: 10px; 
}

nav {
    display: flex;
    gap: 24px;
    padding-top: 5px; 
    width: 1405;
}
.navIcos {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  
.navCabecalho, .navCabecalhoOutlet, .navCabecalhoScrolled{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.navCabecalhoScrolled{
    color: #1D1D1D;
}
.navCabecalhoOutlet{
    color: #B11B26;
}
.navCabecalho:hover{
    color: rgb(224, 214, 214);
}
.navCabecalhoScrolled:hover{
    color: #8e8b8b
}
.navCabecalhoOutlet:hover{
    color: #830d15;
}

.icone-carriho-quantidade{
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: baseline;
}
.carrinho-contador-black{
    color: #1D1D1D;
}

.navMobile {
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0 10px; 
    width: 100%;
    margin: 0; 
    box-sizing: border-box; 
    padding-top: 10px;
}
.right-mobile, .left-mobile{
   display: flex;
   gap: 10px;
}


