.carrinho {
    position: fixed;
    top: 0;
    right: -3000px; /* Esconde o menu fora da tela */
    height: 100%;
    width: 20%;
    background-color: #333;
    color: #fff;
    transition: right 0.5s ease; /* Suaviza o movimento ao abrir/fechar */
    z-index: 1000;
    background-color:#fff;
    &.open {
        right: 0; /* Move o menu para dentro da tela */
    }
    .header-carrinho{
        display: flex;
        justify-content: space-between;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 8px;
        padding-top: 15px;
        .close-button-carrinho {
            background: none;
            border: none;
            color: #1D1D1D;
            font-size: 24px;
            cursor: pointer;
            margin: 0;
        }
        .titulo-carrinho{
            color: black;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .container-produtos-carrinho{
        color: #1D1D1D;
        padding: 16px;
        .produtp-itens{
            border: 1px solid #EEEEEE;
            padding: 8px;
            display: flex;
            justify-content: space-between;
            .img-prod-carrinho{
                width: 100px;
                height: auto;
                background-color: #F7F7F7;
                margin-right: 10px;
            }
            .nome-tamanho-preco{
                display: flex;
                flex-direction: column;
                gap: 12px;
                .nome-tamanho{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
                .prod-name-carrinho, .prod-preco-carrinho{
                    font-size: 14px;
                    font-weight: 400;
                }
                .prod-tamanho-carrinho{
                    color: #8A8A8A;
                    font-size: 12px;
                    font-weight: 400;
                }
                
            }
            
        }
        
    }
    .container-total-carrinho{
        box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.08);
        border-top: 1px solid rgba(238, 238, 238, 1);
        padding-top: 24px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
        color: #1D1D1D;
        position: fixed;
        width: 20%;
        height: 220px;
        display: flex;
        bottom: 0;
        flex-direction: column;
        gap: 16px;
        .textos-total-carrinho{
            display: flex;
            justify-content: space-between;
        }
        .btn-finalizar-pedido{
            padding: 6px;
            background: rgba(177, 27, 38, 1);
            border: none;
            width: 100%;
            height: 46px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 400;
        }
        .continuar-comprando{
            font-size: 12px;
            font-weight: 300;
            line-height: 16.34px;
            text-align: center;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }
    }
}


@media(max-width:1008px){
    .carrinho {
        position: fixed;
        top: 0;
        right: -1000px; /* Esconde o menu fora da tela */
        height: 100%;
        width: 80%;
        background-color: #333;
        color: #fff;
        transition: right 0.5s ease; /* Suaviza o movimento ao abrir/fechar */
        z-index: 1000;
        background-color:#fff;
        &.open {
            right: 0; /* Move o menu para dentro da tela */
        }
        .header-carrinho{
            display: flex;
            justify-content: space-between;
            padding-right: 16px;
            padding-left: 16px;
            padding-bottom: 8px;
            padding-top: 15px;
            .close-button-carrinho {
                background: none;
                border: none;
                color: #1D1D1D;
                font-size: 24px;
                cursor: pointer;
                margin: 0;
            }
            .titulo-carrinho{
                color: black;
                font-size: 24px;
                font-weight: 400;
            }
        }
        .container-produtos-carrinho{
            color: #1D1D1D;
            padding: 16px;
            .produtp-itens{
                border: 1px solid #EEEEEE;
                padding: 8px;
                display: flex;
                justify-content: space-between;
                .img-prod-carrinho{
                    width: 100px;
                    height: auto;
                    background-color: #F7F7F7;
                    margin-right: 10px;
                }
                .nome-tamanho-preco{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    .nome-tamanho{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                    }
                    .prod-name-carrinho, .prod-preco-carrinho{
                        font-size: 14px;
                        font-weight: 400;
                    }
                    .prod-tamanho-carrinho{
                        color: #8A8A8A;
                        font-size: 12px;
                        font-weight: 400;
                    }
                    
                }
                
            }
            
        }
        .container-total-carrinho{
            box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.08);
            border-top: 1px solid rgba(238, 238, 238, 1);
            padding-top: 24px;
            padding-bottom: 40px;
            padding-left: 15px;
            padding-right: 15px;
            color: #1D1D1D;
            position: fixed;
            width: 80%;
            height: 220px;
            display: flex;
            bottom: 0;
            flex-direction: column;
            gap: 16px;
            .textos-total-carrinho{
                display: flex;
                justify-content: space-between;
            }
            .btn-finalizar-pedido{
                padding: 6px;
                background: rgba(177, 27, 38, 1);
                border: none;
                width: 100%;
                height: 46px;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 400;
            }
            .continuar-comprando{
                font-size: 12px;
                font-weight: 300;
                line-height: 16.34px;
                text-align: center;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

            }
        }
        
    }
}

